.git
.expo
.github
.husky
.nx-container
.storybook
.vscode
apps/.storybook
apps/clients/mobile
apps/clients/desktop
apps/docs
apps/e2e/mobile
node_modules
target
Cargo.toml
Cargo.lock
rust-toolchain.toml
rustfmt.toml
.commitlintrc.js
.czrc
.dockerignore
.editorconfig
.eslintrc.json
.firebaserc
.prettierignore
.prettierrc
.watchmanconfig
CHANGELOG.md
firebase.json
jest.config.ts
jest.preset.js
README.md
**/Dockerfile
**/.vscode
**/__tests__
